<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div  class="container" th:fragment="content">
    <form class="mt-3" name="delete" th:action="@{/user/delete}"  method="POST">
        <h2>Do you really want to delete an account?</h2>
        <input type="text" class="form-control" th:field="*{user.id}" hidden>
        <button type="submit" class="btn btn-danger" style="width:100px">Yes</button>
    </form>
    <br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">User name</span>
        </div>
        <input type="text" class="form-control" th:field="*{user.login}" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">User email</span>
        </div>
        <input type="text" class="form-control" th:field="*{user.email}" readonly>
    </div>
    <br/>
    <div>
        <th:block sec:authorize="isAuthenticated()">
            <div>
                <a href="/user/users/1">Back to list</a>|
                <a th:href="@{'/user/edit/'+${user.id}}">Edit</a>|
                <a th:href="@{'/user/details/'+${user.id}}">Details</a>
            </div>
        </th:block>

        <th:block sec:authorize="isAnonymous()">
            <div>
                <a href="/user/users/1">Back to list</a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>