<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div  class="container" th:fragment="content">
    <h1>Edit user</h1>
    <form class="mt-3" name="edit" th:action="@{/user/edit}"  enctype="multipart/form-data" method="POST">
        <div class="input-group mb-3">
            <div class="form-group">
                <label for="icon">User icon</label>
                <input type="text" class="form-control" id="icon" name="icon" th:value="${user.icon}" readonly>
                <img th:src="@{'/icon/'+${user.icon}}" alt="icon" class="img-thumbnail" style="width: 180px;height:180px; margin: 3px;">
                <div class="form-control">
                    <label for="choose-file" class="btn alert-info">Select Image</label>
                    <label id="image-name">No image choose</label>
                    <input type="file" id="choose-file" name="file"
                           style="visibility:hidden;" class="btn alert-info" accept="image/*"/>
                </div>
            </div>
        </div>

        <input type="hidden" id="id" name="id" th:value="${user.id}">
        <input type="hidden" id="active" name="active" th:value="${user.active}">
        <div class="form-group">
            <label for="login">User login</label>
            <input type="text" class="form-control" id="login" name="login" th:value="${user.login}">
        </div>
        <div class="form-group">
            <label for="email">User email</label>
            <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
        </div>
        <div class="form-group">
            <input type="password" id="pass" name="password" th:value="${user.password}" hidden>
            <label >User password</label>
            <br>
            <a id="password" class="btn btn-outline-info" href="/user/newpassword">
                Edit password
            </a>
        </div>
        <button type="submit" class="form-group btn btn-primary">Keep the changes</button>
    </form>


    <th:block sec:authorize="isAuthenticated()">
        <div >
            <th:block sec:authorize="hasAuthority('administrator')">
                <a href="/user/users/1">Back to list </a>|
            </th:block>
            <a href="/">Back to home </a>|
            <a th:href="@{'/user/details/'+${user.id}}">Details </a>|
            <a th:href="@{'/user/delete/'+${user.id}}">Delete</a>
        </div>
    </th:block>
    <br>
    <br>
    <script th:src="@{/js/edituser.js}"></script>
</div>
</body>
</html>