<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <title>Password</title>
</head>
<body >
<div class="container table-responsive text-nowrap" th:fragment="content">
    <link  th:href="@{/css/login.css}" rel="stylesheet" >
    <div class="container d-flex justify-content-center align-items-center alert ">
        <div class="card alert-success col align-self-center" id="recovery">
            <div class="card-header">
                <h2>Password recovery</h2>
                <div class="alert alert-danger" th:if="${message != null}" th:text="${message}">
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/user/password}" method="post">
                    <div class="form-group">
                        <label for="email">User email</label>
                        <input  required type="email" class="form-control" id="email"
                                name="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="/login/login" >To login</a>
                <br>
                <a href="/registration/register" >To register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>