<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <br>
        <div class="input-group mb-3">
            <a href="/user/users/1" class="btn btn-success">Back to list</a>
        </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td ><a th:href="@{'/user/details/'+${user.id}}">Details</a></td>
            <td ><a th:href="@{'/user/edit/'+${user.id}}">Edit</a></td>
            <td ><a th:href="@{'/user/delete/'+${user.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>