<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <br>
        <div class="input-group mb-3">
            <a th:href="@{'/user/users/'+${page}}" class="btn btn-success">Back to list users</a>
        </div>
    <table class="table table-striped">
        <thead style="background:#B3A9FF">
        <tr>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th></th>
        </tr>
        </thead>

        <tbody style="background:#E1EBFF">
        <tr th:each="user : ${users}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td >
                <button data-toggle="modal" th:attr="data-target='#lockuser'+${user.id}"
                        class="btn btn-outline-info">
                    <span th:if="${user.active}" style="color:red">Lock</span>
                    <span th:unless="${user.active}" style="color:green">Unlock</span>
                </button>
                <!-- Modal -->
                <div class="modal fade" th:attr="id='lockuser'+${user.id}"
                     tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="color:black" id="createFileTitle">Lock and Unlock</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4>
                                    <span th:if="${user.active}" style="color:red">Lock</span>
                                    <span th:unless="${user.active}" style="color:green">Unlock</span>
                                    <span style="color:blue" th:text="${user.email}"></span>
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <form class="mt-3" name="clearFile" th:action="@{'/user/block/'+${user.id}}"  method="GET">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Ok</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>