<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <h1>Users</h1>
    <table class="table table-striped">
        <thead class="thead" style="background:#B3A9FF">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody style="background:#E1EBFF">
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td ><a th:href="@{'/user/details/'+${user.id}}">Details</a></td>
            <td ><a th:href="@{'/user/edit/'+${user.id}}">Edit</a></td>
            <td ><a th:href="@{'/user/delete/'+${user.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination_users :: footer">...</div>
</div>
</body>
</html>