<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <h1>Users</h1>
    <table class="table table-striped">
        <thead class="thead" style="background:#B3A9FF">
        <tr>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th></th>
        </tr>
        </thead>

        <tbody style="background:#E1EBFF">
        <tr th:each="user : ${users}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.email}"></td>
            <td ><a th:href="@{'/user/block/'+${user.id}}">
                <span th:if="${user.active}" style="color:red">Block</span>
                <span th:unless="${user.active}" style="color:green">Anblock</span>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination_users :: footer">...</div>
</div>
</body>
</html>