<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" th:fragment="header(search)">
    <link  th:href="@{/css/header.css}" rel="stylesheet" >
    <a class="navbar-brand" href="/">
        <img class="navbar-toggler-icon rounded-circle" th:src="@{'/images/csv_parser.png'}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/admin">Administration Page</a>
            </li>
        </ul>

        <div sec:authorize="isAuthenticated()" id="hello">
            <a class="navbar-brand" href="/">
                <img class="navbar-toggler-icon rounded-circle" th:src="@{'/icon/no_user.jpg'}">
            </a>
            <span>Hello, No name</span>
        </div>

        <form class="form-inline my-2 my-lg-0" th:action="${search}">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        &nbsp;
        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-outline-info my-2 mr-sm-2 m-0"
                       type="submit" value="Sign Out" />
            </form>
        </th:block>

        <th:block sec:authorize="isAnonymous()">
                <a class="btn btn-outline-info my-2 mr-sm-2" href="/login/login">Sign In</a>
        </th:block>
    </div>
</nav>
</body>
</html>