<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel setting</title>
</head>
<body>
<div class="panel-heading demo" th:fragment="panelsetting">
    <input class="hide" id="hd-1" type="checkbox">
    <label for="hd-1" id="label">Setting panel!!</label>
    <div class="form-control" >
        <input type="hidden" name="file" th:value="${file.id}" >
        <input type="hidden" name="curpage" th:value="${curpage}" >
        <div class="from-group">
            <div>
                <!-- save data in table-->
                <input type="submit" class="btn btn-primary" id="save"  value="Save">
                <!-- add row-->
                <input type="button" class="btn btn-primary"
                       th:onclick="openModal()"
                       value="Add row">
                <!-- add colum-->
                <a class="btn btn-primary" th:href="@{'/file/colum/'+${file.id}+'/'+${curpage}}" role="button">Add colum</a>
            </div>
            <!-- delete rows-->
            <br>
            <div>
                <label for="delrows" class="panel"><h5>Delete rows</h5></label>
                <select class="border border-primary rounded selectpicker"  multiple data-live-search="true" id="delrows" name="delrows">
                    <option th:each="titleZN : ${csvfile.TitleCsv}"
                            th:value="${titleZN}"
                            th:utext="${titleZN}"/>
                </select>
                <input type="button" onclick="delRows()" class="btn btn-primary" value="Delete">
            </div>
            <!-- delete colums-->
            <br>
            <div>
                <label for="delcolums" class="panel"><h5>Delete colums</h5></label>
                <select class="border border-primary rounded selectpicker"  multiple data-live-search="true" id="delcolums" name="delcolums">
                    <option th:each="data : ${csvfile.DataModelRows}"
                            th:value="${data.id}"
                            th:utext="${data.id}"/>
                </select>
                <input type="button" onclick="delColums()" class="btn btn-primary" value="Delete">
            </div>
        </div>
    </div>
</div>
</body>
</html>