<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link  th:href="@{/css/500.css}" rel="stylesheet" >
    <title>500</title>
</head>
<body>
<h1>everything is terrible</h1>
<div class='post'></div>
<div class='outer'>
    <div class='wrap'>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
        <div class='error'></div>
    </div>
</div>

</body>
</html>