<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All files</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <link  th:href="@{/css/allFiles.css}" rel="stylesheet" >
    <div class="form-group">
        <h1 >All files</h1>
        <a id="statAll"  class="btn btn-outline-info my-2 mr-sm-2" th:href="@{'/statistic/all'}" >All statistic</a>
    </div>
    <table class="table table-success">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Origin name</th>
            <th scope="col">User login</th>
            <th scope="col">User email</th>
            <th scope="col">Statistics</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="file : ${files}">
            <th scope="row" th:text="${file.id}"></th>
            <td th:text="${file.originName}"></td>
            <td th:text="${file.creatorOfFile.getLogin()}"></td>
            <td th:text="${file.creatorOfFile.getEmail()}"></td>
            <td ><a th:href="@{'/statistic/'+${file.id}}">Open</a></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination_files :: footer_file">...</div>
</div>
</body>
</html>