<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link files</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <!--link  th:href="@{/css/myfile.css}" rel="stylesheet"-->
    <h1>Open files <span>User email</span></h1>
    <div class="panel-heading">
        <form class="mt-3" name="csv" th:action="@{/file/addlink}"  method="POST">
            <div class="input-group mb-3">
                <input type="text" name="link" class="form-control" placeholder="Link">
                <input type="submit" class="btn btn-info" value="Add link">
            </div>
        </form>
    </div>
    <table class="table table-success">
        <thead  style="background-color:#563d7c; color:#FFFFFF">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">File name</th>
            <th scope="col">User mail</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody th:if="${openfiles.isEmpty() || openfiles == null}" >
        <tr>
            <td th:text="${message}"></td>
        </tr>
        </tbody>
        <tbody th:unless="${openfiles.isEmpty() || openfiles == null}">
        <tr th:each="file : ${openfiles}">
            <th scope="row" th:text="${file.id}"></th>
            <td th:text="${file.originName}"></td>
            <td th:text="${file.creatorOfFile.email}"></td>
            <td th:if="${file.accessLink.read || file.accessLink.edit}">
                <a th:href="@{'/file/open/'+${file.id}}" class="href btn btn-success btn-xs">Open</a>
            </td>
            <td th:if="${file.accessLink.dowload}">
                <form name="dowload" th:action="@{/file/dowload}"   method="GET">
                    <input th:value="${file.id}" type="hidden" name="idFile" >
                    <button type="submit" class="btn btn-warning btn-xs">Download</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!--th:block th:unless="${myfiles.isEmpty() || myfiles == null}">
        <div th:replace="fragments/pagination_myfiles :: footer_file">...</div>
    </th:block-->
</div>
</body>
</html>