<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open CSV</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <br>
    <link  th:href="@{/css/opencsv.css}" rel="stylesheet" >
    <h2>CSV opening file: <span th:text="${file.originName}"></span></h2>
    <form name="saveall" th:action="@{/file/saveall}"  method="POST">
        <!-- отображать панель инструментов если файл не текущего пользователя и есть доступ к редактированию-->
        <div th:insert="/fragments/panelSetting :: panelsetting"
             th:if="${file.accessLink.edit && file.creatorOfFile.id != session.user.id}">Panel</div>
        <!-- отображать панель инструментов всегда если текущий пользователь и его файл-->
        <div th:insert="/fragments/panelSetting :: panelsetting"
             th:if="${file.creatorOfFile.id == session.user.id}">Panel</div>

        <br>
        <!-- отображать содержимое файла по доступу если файл не пользователя -->
        <div th:insert="/fragments/opencsvtableotheruser :: opencsvtableotheruser"
             th:if="${file.creatorOfFile.id != session.user.id}">Other user</div>
        <!-- отображать содержимое файла пользователю если файл его -->
        <div th:insert="/fragments/opencsvtablecurrentuser :: opencsvtablecurrentuser"
             th:if="${file.creatorOfFile.id == session.user.id}">Other user</div>
        <!-- Modal save-->
        <div class="modal fade"  id="openModalSave"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitleSave">
                            Save changes
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="savediv">
                            <label for="savediv" style="color:red">
                                If you used "," or "|" in the column names,<br/>
                                they will be replaced by "%"!</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="footersave">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal new colum-->
    <form name="row" th:action="@{/file/colum}"  method="POST">
    <div class="modal fade"  id="openModalNewColum"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Create new colum
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="file" th:value="${file.id}" >
                    <input type="hidden" name="curpage" th:value="${curpage}" >
                    <div class="form-group">
                        <label for="colum">Colum name</label>
                        <input type="text" class="form-control" id="colum"
                               name="newColum" placeholder="Enter colum" required autofocus>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="footercolum">Create</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Modal new row-->
    <form name="row" th:action="@{'/file/row/'+${file.id}+'/'+${curpage}}"  method="GET">
        <div class="modal fade"  id="openModalNewRow"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitleRow">
                            Create new row
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="divnewrow">
                            <label for="divnewrow" style="color:red">Create a new row?</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="footerrow">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Modal delete rows-->
    <form name="delrows" th:action="@{/file/deleterows}"  method="POST">
        <div class="modal fade"  id="myModalDelRows"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteRowsList">
                            Do you really want to delete these row(s)?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="file" th:value="${file.id}" >
                        <input type="hidden" name="curpage" th:value="${curpage}" >
                        <div class="form-group" id="parentDiv">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="footerdelrow">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Modal delete colums-->
    <form name="delcolums" th:action="@{/file/deletecolums}"  method="POST">
        <div class="modal fade"  id="myModalDelcolums"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteColumsList">
                            Do you really want to delete these colum(s)?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="file" th:value="${file.id}" >
                        <input type="hidden" name="curpage" th:value="${curpage}" >
                        <div class="form-group" id="parentDivColum">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="footerdelcolum">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div th:replace="fragments/pagination_csvOpen :: footer_csvOpen">...</div>
    <div>
        <a th:if="${session.user.id == file.creatorOfFile.id}" th:href="@{'/file/myfiles/'+${session.user.id}}" style="float:left">Back to list</a>
        <a th:unless="${session.user.id == file.creatorOfFile.id}" th:href="@{'/file/links/'+${session.user.id}}" style="float:left">Back to list</a>
    </div>
    <br> <br>
    <script th:src="@{/js/opencsv.js}"></script>
</div>
</body>
</html>