<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <br>
    <div class="input-group mb-3">
        <a href="/file/files" class="btn btn-success">Back to list files</a>
    </div>
    <table class="table table-success">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Origin name</th>
            <th scope="col">User login</th>
            <th scope="col">User email</th>
            <th scope="col">Setting</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="file : ${files}">
            <th scope="row" th:text="${file.id}"></th>
            <td th:text="${file.originName}"></td>
            <td th:text="${file.creatorOfFile.getLogin()}"></td>
            <td th:text="${file.creatorOfFile.getEmail()}"></td>
            <td ><a th:href="@{'/file/delete/'+${file.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>