<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result search open files</title>
</head>
<body>
<div class="container table-responsive text-nowrap" th:fragment="content">
    <link  th:href="@{/css/myfile.css}" rel="stylesheet">
    <h1>Result search files</h1>
    <br>
<div class="wrap">
    <table class="table table-success">
        <thead  style="background-color:#563d7c; color:#FFFFFF">
        <tr>
            <th scope="col">File name</th>
            <th scope="col">User mail</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${openfiles}">
            <td th:text="${file.originName}"></td>
            <td th:text="${file.creatorOfFile.email}"></td>
            <td th:if="${file.accessLink.read || file.accessLink.edit}">
                <a th:href="@{'/file/open/'+${file.id}}" class="href btn btn-success btn-xs">
                    <span th:if="${file.accessLink.edit}">Open to edit</span>
                    <span th:if="${!file.accessLink.edit && file.accessLink.read}">Open to read</span></a>
            </td>
            <td th:if="${file.accessLink.dowload}">
                <form name="dowload" th:action="@{/file/dowload}"   method="GET">
                    <input th:value="${file.id}" type="hidden" name="idFile" >
                    <button type="submit" class="btn btn-warning btn-xs">Download</button>
                </form>
            </td>
            <td th:if="${!file.accessLink.read && !file.accessLink.edit && !file.accessLink.dowload}">
                <span style="color:red">Access denied by copyright holder!</span>
                &nbsp; &nbsp;
                <a th:href="@{'/file/remove/'+${file.id}}">Remove from list</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div >
        <a th:if="${tolist}" th:href="@{'/file/links/'+${session.user.id}+'/'+${page}}" >Back to open files</a>
    </div>
</div>
</body>
</html>