<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All statistic</title>
</head>
<body>
<div class="container" th:fragment="content">
    <link  th:href="@{/css/allStat.css}" rel="stylesheet" >
    <h1>Result search</h1>

    <div class="panel-heading" id="statAll">
        <a th:href="@{'/statistic/clearAllStat'}" role="button"
           class="btn btn-outline-info my-2 mr-sm-2" >Clear all statistic</a>
    </div>
<div class="wrap">
    <table class="table table-striped table-bordered " >
        <thead class="thead-dark">
        <tr>
            <th class="th-sm" scope="col">File name</th>
            <th class="th-sm" scope="col">File action</th>
            <th class="th-sm" scope="col">User email</th>
            <th class="th-sm" scope="col">Date</th>
        </tr>
        </thead>
            <tbody >
                    <tr th:each="stat : ${allStatFiles}">
                        <td th:text="${stat.fileNameOriginal}"></td>
                        <td th:text="${stat.fileAction}"></td>
                        <td th:text="${stat.userName}"></td>
                        <td th:text="${stat.date}"></td>
                    </tr>
            </tbody>
    </table>
</div>
    <div ><a th:href="@{'/statistic/all/'+${tolist}}"  class="btn btn-success">Back to page</a></div>
</div>
</body>
</html>