<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <title>Log in</title>
</head>
<body >
<div class="container table-responsive text-nowrap" th:fragment="content">
    <link  th:href="@{/css/login.css}" rel="stylesheet" >
    <div class="container d-flex justify-content-center align-items-center alert ">
        <div class="card alert-success col align-self-center" id="auth">
            <div class="card-header">
                <h2>Authorization</h2>
                <div class="alert alert-danger">
                    Fill in the field "Email"
                </div>
            </div>
            <div class="card-body">
                <form >
                    <div class="form-group">
                        <label for="email">User email</label>
                        <input  required type="email" class="form-control" id="email"
                                name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">User password</label>
                        <input type="password" class="form-control" id="password"
                               name="password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="/" >Login as a guest</a>
                <br>
                <a href="/user/add" >To register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>