<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<div  class="container" th:fragment="content">
    <form class="mt-3" name="delete" th:action="@{/role/delete}"  method="POST">
        <h2 style="color:red">This role is related to users. When you delete it, delete all links!</h2>
        <input type="text" class="form-control" th:field="*{role.id}" hidden>
        <button type="submit" class="btn btn-danger" style="width:100px">Yes</button>
    </form>
    <br /><br/>
    <div>
        <th:block sec:authorize="isAuthenticated()">
            <div>
                <a href="/role/roles">Back to list</a>|
                <a th:href="@{'/role/edit/'+${role.id}}">Edit</a>|
            </div>
        </th:block>

        <th:block sec:authorize="isAnonymous()">
            <div>
                <a href="/role/roles">Back to list</a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>