<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div class="container  mt-5" th:fragment="content">
    <link  th:href="@{/css/index.css}" rel="stylesheet" >
    <h1>Home page</h1>
    <div class="d-flex flex-wrap justify-content-around row">
        <div class="shadow card w-25 m-3 justify-content-between col-12 col-sm-12 col-xl-3" >
            <div class="card-header"><h4>Opens CSV files</h4></div>
            <a th:if="${session.user != null}" th:href="@{'/file/links/'+${session.user.id}}">
                <img class="card-img" th:src="@{'images/my_csv.jpg'}" alt="open csv">
            </a>
            <a th:unless="${session.user != null}" href="/login/login">
                <img class="card-img" th:src="@{'images/my_csv.jpg'}" alt="open csv">
            </a>
            <div class="card-footer"></div>
        </div>
        <div class="shadow card w-25 m-3 justify-content-between col-12 col-sm-12 col-xl-3" >
            <div class="card-header"><h4>My CSV files</h4></div>
            <a th:if="${session.user != null}"  th:href="@{'/file/myfiles/'+${session.user.id}}">
                <img class="card-img" th:src="@{'images/all_csv.jpg'}"  alt="my csv">
            </a>
            <a th:unless="${session.user != null}" href="/login/login">
                <img class="card-img" th:src="@{'images/all_csv.jpg'}"  alt="my csv">
            </a>
            <div class="card-footer"></div>
        </div>

    </div>
</div>
</body>
</html>